
@{
    ViewData["Title"] = "Manage";
    ViewData["SubTitle"] = "التحكم بالحساب";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<a asp-action="ChangePassword" asp-controller="Account" >تغيير كلمة المرور</a>

