@model Kasir.Api.ViewModel.AppInfoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>تعديل الكلمة الترحيبية</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < ((List<LanguageDto>)ViewBag.Languages).Count(); i++)
            {
                LanguageDto lang = ViewBag.Languages[i];
                <div class="form-group">
                    <input type="hidden"
                       name="AppInfoLanguageDtos[@i].LanguageId"
                       value="@lang.Id" />
                </div>
                <label class="control-label">@lang.Name</label>

                <div class="form-group">
                    <label class="control-label">العنوان</label>
                    <input required name="AppInfoLanguageDtos[@i].Title" class="form-control" value="@Model.AppInfoLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.Title" />
                </div>
                <div class="form-group">
                    <label class="control-label">الكلمة الترحيبية</label>
                    <input required name="AppInfoLanguageDtos[@i].Description" class="form-control" value="@Model.AppInfoLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.Description" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="تأكيد" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">الرجوع</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
