<!DOCTYPE html>
<html lang="ar" dir="rtl" style="text-align:right;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>@ViewData["Title"] - Kasir</title>
    <partial name="AdminLTE/_Styles" />
</head>
<body style="text-align:right;">
    <div class="wrapper">      
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["SubTitle"]</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        
    </div>
    <partial name="AdminLTE/_Scripts" />
    @RenderSection("Scripts", required: false)

</body>
</html>
