@{
    ViewData["Title"] = "Privacy Policy";
}

<body bgcolor=white lang=EN-US link="#0563C1" vlink="#954F72" style='tab-interval:
36.0pt;word-wrap:break-word'>

<div class=WordSection1>

<p class=MsoTitle align=center style='text-align:center;line-height:115%'><b
style='mso-bidi-font-weight:normal'><span style='font-size:22.0pt;mso-bidi-font-size:
24.0pt;line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial'>PRIVACY POLICY<o:p></o:p></span></b></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<h1 align=center style='margin-top:0mm;text-align:center;line-height:115%'><a
name="_dgff3y1ug9ut"></a><span class=SpellE>Ostazii</span></h1>

<p class=MsoNormal style='line-height:115%'><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:#999999'>Last updated [Feb 16<span class=GramE><sup>th</sup> ,</span> 2021]</span><b
style='mso-bidi-font-weight:normal'><span style='font-size:18.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
class=SpellE><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Ostazii</span></span><span style='font-size:
11.0pt;line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial'> (“we” or “us” or “our”) respects the privacy of our users (“user” or
“you”). This Privacy Policy explains how we collect, use, disclose, and
safeguard your information when you visit our mobile application (the
“Application”).</span><span style='font-size:12.0pt;line-height:115%;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"'>
</span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-spacerun:yes'> </span><b
style='mso-bidi-font-weight:normal'><span style='mso-spacerun:yes'> </span></b>Please
read this Privacy Policy carefully.<span style='mso-spacerun:yes'>  </span>IF
YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS
THE APPLICATION. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We reserve the right to make changes to this
Privacy Policy at any time and for any reason.<span style='mso-spacerun:yes'> 
</span>We will alert you about any changes by updating the “Last updated” date
of this Privacy Policy.<span style='mso-spacerun:yes'>  </span>You are
encouraged to periodically review this Privacy Policy to stay informed of
updates. You will be deemed to have been made aware of, will be subject to, and
will be deemed to have accepted the changes in any revised Privacy Policy by
your continued use of the Application after the date such revised Privacy
Policy is posted.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>This Privacy Policy does not apply to the
third-party online/mobile store from which you install the Application or make
payments, including any in-game virtual items, which may also collect and use
data about you.<span style='mso-spacerun:yes'>  </span>We are not responsible
for any of the data collected by any such third party. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>This </span><a
href="https://termly.io/resources/templates/privacy-policy-template/"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>privacy policy</span></a><span style='font-size:
11.0pt;line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial'> was created using Termly.<o:p></o:p></span></p>

<h1 style='line-height:115%'><a name="_eenucvnqa0rq"></a>COLLECTION OF YOUR
INFORMATION</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may collect information about you in a
variety of ways.<span style='mso-spacerun:yes'>  </span>The information we may
collect via the Application depends on the content and materials you use, and
includes:<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_rima4gqmeezw"></a>Personal Data <span
style='font-size:11.0pt;line-height:115%'><o:p></o:p></span></h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Demographic and other personally identifiable
information (such as your name and email address) that you voluntarily give to
us when choosing to participate in various activities related to the
Application, such as chat, posting messages in comment sections or in our
forums, liking posts, sending feedback, and responding to surveys.<span
style='mso-spacerun:yes'>  </span>If you choose to share data about yourself
via your profile, online chat, or other interactive areas of the Application,
please be advised that all data you disclose in these areas is public and your
data will be accessible to anyone who accesses the Application.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_qs8x7isf2hqt"></a>Derivative Data<span
style='mso-spacerun:yes'>  </span></h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Information our servers automatically collect
when you access the Application, such as your native actions that are integral
to the Application, including liking, re-blogging, or replying to a post, as
well as other interactions with the Application and other users via server log
files.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_jmz6d47e30t"></a><a name="_z0yqukvj8bh9"></a>Facebook
Permissions<span style='mso-spacerun:yes'>  </span></h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>The Application may by default access your </span><a
href="https://www.facebook.com/about/privacy/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:#1155CC'>Facebook</span></a><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'> basic
account information, including your name, email, gender, birthday, current
city, and profile picture URL, as well as other information that you choose to
make public. We may also request access to other permissions related to your
account, such as friends, <span class=SpellE>checkins</span>, and likes, and
you may choose to grant or deny us access to each individual permission. For
more information regarding Facebook permissions, refer to the </span><a
href="https://developers.facebook.com/docs/facebook-login/permissions"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:#1155CC'>Facebook Permissions Reference </span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>page.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_64xreagpas2f"></a>Data from Social
Networks<span style='mso-spacerun:yes'>  </span></h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>User information from social networking sites,
such as [Apple’s Game Center, Facebook, Google+ Instagram, Pinterest, Twitter],
including your name, your social network username, location, gender, birth
date, email address, profile picture, and public data for contacts, if you
connect your account to such social networks. This information may also include
the contact information of anyone you invite to use and/or join the
Application.<b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_1wgqc2u1087n"></a>Geo-Location
Information </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;background:white;mso-highlight:white'>We may
request access or permission to and track location-based information from your
mobile device, either continuously or while you are using the Application, to
provide location-based services. If you wish to change our access or
permissions, you may do so in your device’s settings.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;background:white;mso-highlight:white'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_ohf32362ce60"></a>Mobile Device Access </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may request access or permission to certain
features from your mobile device, including your mobile device’s [<span
class=SpellE>bluetooth</span>, calendar, camera, contacts, microphone,
reminders, sensors, SMS messages, social media accounts, storage,] and other
features. <span style='background:white;mso-highlight:white'>If you wish to
change our access or permissions, you may do so in your device’s settings.<o:p></o:p></span></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;background:white;mso-highlight:white'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_4iy4n37v9m63"></a>Mobile Device Data </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Device information such as your mobile device ID
number, model, and manufacturer, version of your operating system, phone
number, country, location, and any other data you choose to provide.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_z2mmqno9ju37"></a>Push Notifications </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may request to send you push notifications
regarding your account or the Application. If you wish to opt-out from
receiving these types of communications, you may turn them off in your device’s
settings.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><b
style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></b></p>

<h2 style='line-height:115%'><a name="_urn7verkgc6k"></a>Third-Party Data </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Information from third parties, such as personal
information or network friends, if you connect your account to the third party
and grant the Application permission to access this information.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_b8ijir46a2b"></a>Data <span class=GramE>From</span>
Contests, Giveaways, and Surveys </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Personal and other information you may provide
when entering contests or giveaways and/or responding to surveys.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h1 style='line-height:115%'><a name="_v2uc2vjvvxe1"></a>USE OF YOUR
INFORMATION</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Having accurate information about you permits us
to provide you with a smooth, efficient, and customized experience.<span
style='mso-spacerun:yes'>  </span>Specifically, we may use information
collected about you via the Application to: <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Administer sweepstakes, promotions, and
contests. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Assist law enforcement and respond to subpoena.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Compile anonymous statistical data and analysis
for use internally or with third parties. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Create and manage your account.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Deliver targeted advertising, coupons,
newsletters, and other information regarding promotions and the Application to
you. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>6.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Email you regarding your account or order.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>7.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Enable user-to-user communications.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>8.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Fulfill and manage purchases, orders, payments,
and other transactions related to the Application.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>9.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Generate a personal profile about you to make
future visits to the Application more personalized.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>10.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Increase the efficiency and operation of the
Application.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>11.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Monitor and analyze usage and trends to improve
your experience with the Application.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>12.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Notify you of updates to the Application.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>13.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Offer new products, services, mobile
applications, and/or recommendations to you.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>14.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Perform other business activities as needed.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>15.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Prevent fraudulent transactions, monitor against
theft, and protect against criminal activity.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>16.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Process payments and refunds.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>17.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Request feedback and contact you about your use
of the Application. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>18.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Resolve disputes and troubleshoot problems.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>19.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Respond to product and customer service
requests.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>20.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Send you a newsletter.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l1 level1 lfo2'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>21.<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Solicit support for the Application.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h1 style='line-height:115%'><a name="_klddry1k9fe6"></a>DISCLOSURE OF YOUR
INFORMATION</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may share information we have collected about
you in certain situations. Your information may be disclosed as follows: <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_wmqiyk8z1ifq"></a>By Law or to Protect
Rights </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If we believe the release of information about
you is necessary to respond to legal process, to investigate or remedy
potential violations of our policies, or to protect the rights, property, and
safety of others, we may share your information as permitted or required by any
applicable law, rule, or regulation.<span style='mso-spacerun:yes'> 
</span>This includes exchanging information with other entities for fraud
protection and credit risk reduction.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_fae8kjk8qmdd"></a>Third-Party Service
Providers </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may share your information with third parties
that perform services for us or on our behalf, including payment processing,
data analysis, email delivery, hosting services, customer service, and
marketing assistance.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><b
style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></b></p>

<h2 style='line-height:115%'><a name="_m891eoq353db"></a>Marketing
Communications</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>With your consent, or with an opportunity for
you to withdraw consent, we may share your information with third parties for
marketing purposes, as permitted by law.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_1g4s611s98t6"></a>Interactions with
Other Users </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If you interact with other users of the
Application, those users may see your name, profile photo, and descriptions of
your activity, including sending invitations to other users, chatting with
other users, liking posts, following blogs. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_qni5gjh20gty"></a>Online Postings</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>When you post comments, contributions or other
content to the Applications, your posts may be viewed by all users and may be
publicly distributed outside the Application in <span class=GramE>perpetuity</span><b
style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_w1o99isgvu3t"></a>Third-Party
Advertisers </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may use third-party advertising companies to
serve ads when you visit the Application. These companies may use information
about your visits to the Application and other websites that are contained in
web cookies in order to provide advertisements about goods and services of
interest to you. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><a
name="_wvhkv7isu1op"></a><b style='mso-bidi-font-weight:normal'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></b></p>

<h2 style='line-height:115%'><a name="_dpeckra1seq2"></a>Affiliates </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may share your information with our
affiliates, in which case we will require those affiliates to honor this
Privacy Policy. Affiliates include our parent company and any subsidiaries,
joint venture partners or other companies that we control or that are under
common control with us.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><b
style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></b></p>

<h2 style='line-height:115%'><a name="_mlwpc7lo5h0z"></a>Business Partners </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may share your information with our business
partners to offer you certain products, services or promotions. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_kloybglpsxbm"></a>Offer Wall<span
style='mso-spacerun:yes'>  </span></h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><a
name="_mn9wp5k3v2vz"></a><span style='font-size:11.0pt;line-height:115%;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>The Application
may display a <span class=GramE>third-party</span>-hosted “offer wall.”<span
style='mso-spacerun:yes'>  </span>Such an offer wall allows third-party
advertisers to offer virtual currency, gifts, or other items to users in return
for acceptance and completion of an advertisement offer.<span
style='mso-spacerun:yes'>  </span>Such an offer wall may appear in the
Application and be displayed to you based on certain data, such as your
geographic area or demographic information.<span style='mso-spacerun:yes'> 
</span>When you click on an offer wall, you will leave the Application.<span
style='mso-spacerun:yes'>  </span>A unique identifier, such as your user ID,
will be shared with the offer wall provider in order to prevent fraud and
properly credit your account.<span style='mso-spacerun:yes'>  </span><b
style='mso-bidi-font-weight:normal'><span style='mso-spacerun:yes'>  </span></b><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_1b3lbtrwlnlf"></a>Social Media
Contacts<span style='mso-spacerun:yes'>  </span></h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If you connect to the Application through a
social network, your contacts on the social network will see your name, profile
photo, and descriptions of your activity.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_j770ddi8r35t"></a>Other Third Parties</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may share your information with advertisers
and investors for the purpose of conducting general business analysis. We may
also share your information with such third parties for marketing purposes, as
permitted by law. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_gfgj94limquo"></a>Sale or Bankruptcy </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If we reorganize or sell all or a portion of our
assets, undergo a merger, or are acquired by another entity, we may transfer
your information to the successor entity.<span style='mso-spacerun:yes'> 
</span>If we go out of business or enter bankruptcy, your information would be
an asset transferred or acquired by a third party.<span
style='mso-spacerun:yes'>  </span>You acknowledge that such transfers may <span
class=GramE>occur</span> and that the transferee may decline honor commitments
we made in this Privacy Policy. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We are not responsible for the actions of third
parties with whom you share personal or sensitive data, and we have no
authority to manage or control third-party solicitations.<span
style='mso-spacerun:yes'>  </span>If you no longer wish to receive
correspondence, emails or other communications from third parties, you are
responsible for contacting the third party directly. </span><b
style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<h1 style='line-height:115%'><a name="_p6377q2xgso8"></a>TRACKING TECHNOLOGIES</h1>

<h2 style='line-height:115%'><a name="_56emerdysgpo"></a>Cookies and Web
Beacons</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may use cookies, web beacons, tracking
pixels, and other tracking technologies on the Application to help customize
the Application and improve your experience. When you access the Application,
your personal information is not collected <span class=GramE>through the use of</span>
tracking technology. Most browsers are set to accept cookies by default. You
can remove or reject <span class=GramE>cookies, but</span> be aware that such
action could affect the availability and functionality of the Application. You
may not decline web beacons. However, they can be rendered ineffective by
declining all cookies or by modifying your web browser’s settings to notify you
each time a cookie is tendered, permitting you to accept or decline cookies on
an individual basis.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_4fc8mj1uajxp"></a>Internet-Based
Advertising</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Additionally, we may use third-party software to
serve ads on the Application, implement email marketing campaigns, and manage
other interactive marketing initiatives.<span style='mso-spacerun:yes'> 
</span>This third-party software may use cookies or similar tracking technology
to help manage and optimize your online experience with us.<span
style='mso-spacerun:yes'>  </span>For more information about opting-out of
interest-based ads, visit the </span><a
href="http://www.networkadvertising.org/choices/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Network Advertising Initiative Opt-Out Tool</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'> or </span><a
href="http://www.aboutads.info/choices/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Digital Advertising Alliance Opt-Out Tool</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_n6oeggdkjcgr"></a>Website Analytics </h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We may also partner with selected third-party
vendors[, such as [</span><a
href="http://www.adobe.com/privacy/marketing-cloud.html"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>Adobe Analytics</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>,] [</span><span class=SpellE><a
href="https://www.clicktale.com/company/privacy-policy/"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>Clicktale</span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>,</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>] [</span><span class=SpellE><a
href="https://clicky.com/terms"><span style='font-size:11.0pt;line-height:115%;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>Clicky</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>,] [</span><span class=SpellE><a
href="https://www.cloudflare.com/security-policy/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Cloudfare</span></a></span><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>,]
[</span><a href="https://www.crazyegg.com/privacy/"><span style='font-size:
11.0pt;line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:windowtext'>Crazy Egg,</span></a><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>]
[</span><a
href="https://policies.yahoo.com/us/en/yahoo/privacy/products/developer/index.htm"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>Flurry Analytics,</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>] [</span><a
href="https://support.google.com/analytics/answer/6004245?hl=en"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>Google Analytics</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>,] [</span><a
href="https://heapanalytics.com/privacy"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Heap Analytics</span></a><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>,]
[</span><span class=SpellE><a href="https://www.inspectlet.com/legal#privacy"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>Inspectlet</span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>,</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>] [</span><span class=SpellE><a
href="https://signin.kissmetrics.com/privacy"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Kissmetrics</span><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>,]</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'> [</span><span class=SpellE><a
href="https://mixpanel.com/privacy/"><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>Mixpanel</span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>,</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>] [</span><span class=SpellE><a
href="https://piwik.org/privacy/"><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>Piwik</span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>,</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>] and others], to allow tracking technologies
and remarketing services on the Application through the use of first party
cookies and third-party cookies, to, among other things, analyze and track
users’ use of the Application, determine the popularity of certain content, and
better understand online activity. By accessing the Application, you consent to
the collection and use of your information by these third-party vendors. You
are encouraged to review their privacy policy and contact them directly for
responses to your questions. We do not transfer personal information to these
third-party vendors. However, if you do not want any information to be
collected and used by tracking technologies, you can install and/or update your
settings for one of the following: </span><a
href="http://www.aboutads.info/choices/"></a><u><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><a
href="http://www.adobe.com/privacy/opt-out.html"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Adobe Privacy Choices Page</span></a><a
href="http://www.adobe.com/privacy/opt-out.html"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>]</span></a><span style='font-size:11.0pt;line-height:115%;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><span class=SpellE><a
href="http://www.clicktale.net/disable.aspx"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Clicktale</span><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>
Opt-Out Feature</span></a></span><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><a
href="https://www.crazyegg.com/opt-out/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Crazy Egg Opt-Out Feature</span></a><span style='font-size:
11.0pt;line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial'>]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><a
href="http://www.aboutads.info/choices/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Digital Advertising Alliance Opt-Out Tool</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><a
href="https://aim.yahoo.com/aim/us/en/optout/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Flurry Analytics Yahoo Opt-Out Manager</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><a
href="https://tools.google.com/dlpage/gaoptout/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Google Analytics Opt-Out Plugin</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>]<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><a
href="https://www.google.com/settings/u/0/ads/authenticated?hl=en"><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'>Google Ads Settings Page</span></a><u><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>]<o:p></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><u><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span></u><span class=SpellE><a
href="https://www.inspectlet.com/optout"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Inspectlet</span><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>
Opt-Out Cookie</span></a></span><u><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>]<o:p></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><span class=SpellE><a
href="https://www.kissmetrics.com/user-privacy/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Kissmetrics</span><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>
Opt-Out Feature</span></a></span><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[</span><span class=SpellE><a
href="https://mixpanel.com/optout/"><span style='font-size:11.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:windowtext'>Mixpanel</span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:windowtext'> Opt-Out Cookie</span></a></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><a
href="http://www.networkadvertising.org/choices/"><span style='font-size:11.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
color:windowtext'>Network Advertising Initiative Opt-Out Tool</span></a><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'> <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><a
href="http://www.adobe.com/privacy/opt-out.html"></a><span style='font-size:
11.0pt;line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>You should be aware that getting a new computer,
installing a new browser, upgrading an existing browser, or erasing or
otherwise altering your browser’s cookies files may also clear certain opt-out
cookies, plug-ins, or settings.</span><b style='mso-bidi-font-weight:normal'><span
style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h1 style='line-height:115%'><a name="_hs1jfy8yvwt0"></a>THIRD-PARTY WEBSITES</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>The Application may contain links to third-party
websites and applications of interest, including advertisements and external
services, that are not affiliated with us. Once you have used these links to
leave the Application, any information you provide to these third parties is
not covered by this Privacy Policy, and we cannot guarantee the safety and
privacy of your information. Before visiting and providing any information to
any third-party websites, you should inform yourself of the privacy policies
and practices (if any) of the third party responsible for that website, and
should take those steps necessary to, in your discretion, protect the privacy
of your information. We are not responsible for the content or privacy and
security practices and policies of any third parties, including other sites,
services or applications that may be linked to or from the Application.</span><b
style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<h1 style='line-height:115%'><a name="_odf08ny3ibiq"></a>SECURITY OF YOUR
INFORMATION</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We use administrative, technical, and physical
security measures to help protect your personal information.<span
style='mso-spacerun:yes'>  </span>While we have taken reasonable steps to
secure the personal information you provide to us, please be aware that despite
our efforts, no security measures are perfect or impenetrable, and no method of
data transmission can be guaranteed against any interception or other type of
misuse.<span style='mso-spacerun:yes'>  </span>Any information disclosed online
is vulnerable to interception and misuse by unauthorized parties.<span
style='mso-spacerun:yes'>  </span>Therefore, we cannot guarantee complete
security if you provide personal information.</span><b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<h1 align=left style='text-align:left;line-height:115%'><a name="_fnsu8nbgwwh0"></a>POLICY
FOR CHILDREN</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>We do not knowingly solicit information from or
market to children under the age of 13. If you become aware of any <span
class=GramE>data</span> we have collected from children under age 13, please
contact us using the contact information provided below. </span><b
style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<h1><a name="_lchlm3ya7ak"></a>CONTROLS FOR DO-NOT-TRACK FEATURES<span
style='mso-spacerun:yes'>  </span></h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Most web browsers and some mobile operating
systems [and our mobile applications] include a Do-Not-Track (“DNT”) feature or
setting you can activate to signal your privacy preference not to have data
about your online browsing activities monitored and collected.<span
style='mso-spacerun:yes'>  </span>No uniform technology standard for
recognizing and implementing DNT signals has been finalized. As such, we do not
currently respond to DNT browser signals or any other mechanism that
automatically communicates your choice not to be tracked online.<span
style='mso-spacerun:yes'>  </span>If a standard for online tracking is adopted
that we must follow in the future, we will inform you about that practice in a
revised version of this Privacy Policy.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<h1 style='line-height:115%'><a name="_oynxufe0hy32"></a>OPTIONS REGARDING YOUR
INFORMATION</h1>

<h2 style='line-height:115%'><a name="_7uup2m8eoof8"></a>[Account Information</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>You may at any time review or change the
information in your account or terminate your account by:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l2 level1 lfo1'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Logging into your account settings and updating
your account<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l2 level1 lfo1'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Contacting us using the contact information
provided <span class=GramE>below</span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l2 level1 lfo1'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>[Other]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Upon your request to terminate your account, we
will deactivate or delete your account and information from our active
databases. However, some information may be retained in our files to prevent
fraud, troubleshoot problems, assist with any investigations, enforce our Terms
of Use and/or comply with legal requirements.]<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<h2 style='line-height:115%'><a name="_3mc89ff9i0fu"></a>Emails and
Communications</h2>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If you no longer wish to receive correspondence,
emails, or other communications from us, you may opt-out by:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l0 level1 lfo3'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Noting your preferences at the time you register
your account with the <span class=GramE>Application</span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l0 level1 lfo3'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Logging into your account settings and updating
your preferences.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;mso-add-space:auto;text-align:
justify;text-indent:-18.0pt;line-height:115%;mso-list:l0 level1 lfo3'><![if !supportLists]><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
dir=LTR></span><span style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>Contacting us using the contact information
provided <span class=GramE>below</span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If you no longer wish to receive correspondence,
emails, or other communications from third parties, you are responsible for
contacting the third party directly. </span><span style='font-size:14.0pt;
line-height:115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></p>

<h1 style='line-height:115%'><a name="_1na8btj6bp4l"></a>CALIFORNIA PRIVACY
RIGHTS</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>California Civil Code Section 1798.83, also
known as the “Shine <span class=GramE>The</span> Light” law, permits our users
who are California residents to request and obtain from us, once a year and
free of charge, information about categories of personal information (if any)
we disclosed to third parties for direct marketing purposes and the names and
addresses of all third parties with which we shared personal information in the
immediately preceding calendar year. If you are a California resident and would
like to make such a request, please submit your request in writing to us using
the contact information provided below.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If you are under 18 years of age, reside in
California, and have a registered account with the Application, you have the
right to request removal of unwanted data that you publicly post on the
Application. To request removal of such data, please contact us using the
contact information provided below, and include the email address associated
with your account and a statement that you reside in California.<span
style='mso-spacerun:yes'>  </span>We will make sure the data is not publicly
displayed on the Application, but please be aware that the data may not be
completely or comprehensively removed from our systems.</span><b
style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'><o:p></o:p></span></b></p>

<h1 align=left style='text-align:left;line-height:115%'><a name="_v07gykoweind"></a>CONTACT
US</h1>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'>If you have questions or comments about this
Privacy Policy, please contact us at:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;line-height:115%'><span
style='font-size:11.0pt;line-height:115%;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

</div>

</body>
